@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}



/* Navbar Css */
.navbar {
    height: 73px;
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-out;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 70%;
}

.nav-list li {
    margin: 0px 26px;
    list-style: none;
    font-size: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;

}

.nav-list li a:hover {
    color: gray;
}

.logo {
    margin: 6px 19px;

}

.logo img {
    width: 60px;
    border: 2px solid white;
    border-radius: 180px;
    cursor: pointer;
}

.right-nav {
    width: 30%;
    text-align: end;
}

#search {
    border: 2px solid white;
    border-radius: 7px;
    font-size: 17px;
    width: 40%;
}

.btn {
    margin: 2px 8px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 5px 5px;
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.btn-sm {
    margin: 0 9px;
    padding: 0px 5px;



}

.btn:hover {
    color: gray;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("./images/bg-1.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.bg {
    background: rgba(0, 0, 0, 0.7) url("./images/bg-4.jpg");
    background-size: cover;
    background-blend-mode: darken;

}



/* first section */
.first-section {
    height: 100vh;
}

.container {
    color: white;
    padding: 70px;
}

.center {
    text-align: center;
    color: black;
}


/* About section*/
.second-section {
    height: 734px;
}

.about {
    height: 800px;
    display: flex;

}

.box {
    border: 2px solid red;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #2b2b35;
    margin: 4px;
    border-radius: 9px;

}

.box-img img {
    height: 170px;
    border-radius: 14px;
}


/* Gallery Section */
#AxisGallery {
    height: 690px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #2b2b35;
    color: white;

}

.container img {
    height: 150px;
    margin: 4px;
    border-radius: 5px;
    border: 2px solid red;
    opacity: 0.6;
  
}
.container img:hover{
    opacity: 1;
}


/* Footer Section */
footer {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left {
    display: flex;
    align-items: center;
}

.name {
    font-size: 35px;
}

.footer-left {
    width: 50%;
}

.footer-left h3 {
    margin-top: 0;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-left ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    list-style: none;

}

.footer-left ul li {
    margin-right: 20px;
}

.footer-left ul li:last-child {
    margin-right: 0;
}

.footer-left ul li a {
    color: #fff;
    font-size: 24px;
}

.footer-right {
    width: 40%;
}

.footer-right button {
    border-radius: 7px;
}

.footer-right h3 {
    margin-top: 0;
}

.footer-right form {
    display: flex;
    flex-direction: column;
}

.footer-right input,
.footer-right textarea {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.footer-right input::placeholder,
.footer-right textarea::placeholder {
    color: #999;
}

.footer-right button {
    background-color: #e31b6d;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-right button:hover {
    background-color: #c41a5f;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
}