@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: 73px;
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-out;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 70%;
}

.nav-list li {
    margin: 0px 26px;
    list-style: none;
    font-size: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;

}

.nav-list li a:hover {
    color: gray;
}

.logo {
    margin: 6px 19px;

}

.logo img {
    width: 60px;
    border: 2px solid white;
    border-radius: 180px;
    cursor: pointer;

}


.right-nav {
    width: 30%;
    text-align: end;

}

#search {
    border: 2px solid white;
    border-radius: 7px;
    font-size: 17px;
    width: 40%;

}

.btn {
    margin: 2px 8px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 5px 5px;
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.btn-sm {
    margin: 0 9px;
    padding: 0px 5px;



}

.btn:hover {
    color: gray;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("./images/bg-1.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.bg {
    background: rgba(0, 0, 0, 0.7) url("./images/bg-4.jpg");
    background-size: cover;
    background-blend-mode: darken;

}

.first-section {
    height: 100vh;
}

.container {
    color: white;
    padding: 70px;
}

.center {
    text-align: center;
    color: black;
}

.second-section {
    height: 734px;
}

.about {
    height: 800px;
    display: flex;

}

.box {
    border: 2px solid red;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #2b2b35;
    margin: 4px;
    border-radius: 9px;

}

.box-img {}

.box-img img {
    height: 170px;
    border-radius: 14px;
}

#AxisGallery {
    height: 690px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #b2b3ba;

}